/* .salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
body{
    background-image:url('small5.webp');
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    padding:0;
    margin:0;
}
h1{
    color:#fff;
    position:fixed;
    min-width:100vw;
    text-align:center;
    font-family:"Salsa", cursive;
    font-size:35px;
    margin:0;
    background-color:#000;
    z-index:4;
    padding:10px;
}
#styleheader{
    background-color:#000;
    width:100vw;
    height:70px;
}
ul{
    display:flex;
    position:relative;
    justify-content:space-between;
    gap:10px;
    margin-left:0;
    padding-left:0;
    align-items:center;
    flex-direction:column;
    list-style:none;
    margin-bottom:0;
}
li{
    display:inline-flex;
    width:90vw;
    max-height:fit-content;
    justify-content:space-between;
    align-items:center;
    background-color:#000;
    opacity:65%;
    border-radius: 20px;
    padding-left:15px;
    padding-right:1px;
}
li p{
    font-size:23px;
    font-family:"Salsa", cursive;
    color:#fff;
}
li button{
    width:35px;
    border:0;
    background-color:transparent;
}
button i{
    font-size:20px;
    color: #fff;
}
#ull{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-left:0;
    padding-left:0;
    align-items:center;
    flex-direction:column;
    list-style:none;
    margin-top:10px;
}
.input{
    display:inline-flex;
    width:90vw;
    min-height:9%;
    justify-content:space-between;
    align-items:center;
    background-color:#000;
    opacity:95%;
    border-radius: 20px;
    padding-left:15px;
    padding-right:1px;
    position:fixed;
    bottom:0;
    z-index:3;
    
}
.input input{
    font-size:23px;
    color:#ffffff;
    font-family:"Salsa", cursive;
    background-color:transparent;
    border:none;
    border-left:solid 2px #fff;
    height:auto;
    width:90vw;
    box-sizing:border-box;
}
.input button{
    position:absolute;
    right: 2px;
    height:35px;
    width:35px;
    border-radius:100%;
    color:#fff;
    font-size:30px;
    background-color:transparent;
    border-color: #fff;
    margin-right:10px;
}
.input input:focus{
    outline:none;
}
#stylefooter{
    position:fixed;
    background-color:#000;
    width:97.2vw;
    height:70px;
    bottom:1px;
    border-radius:20px;
}
#alert{
    position:fixed;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:300px;
    height:25%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: #000;
    opacity:90%;
    border-radius:20px;
    z-index:5;
}
#alertContent{
    color:#fff;
    font-family: "Salsa", cursive;
    font-size:25px;
}
#alertButton{
    position:absolute;
    width:100%;
    height:40px;
    background-color: #fff;
    bottom:0;
    border-radius:0 0 20px 20px;
    font-family:'Salsa', cursive;
    font-size:15px;
}
#alert i{
    font-size:35px;
    color:#fff;
}
#edit{
    position:fixed;
    display:inline-flex;
    justify-content:space-between;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:fit-content;
    height:fit-content;
}
#fordesk{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
    grid-template-columns: 300px 300px;
    grid-gap:10px;
    align-items:center;
    background-color:#000000d7;
    width:max-content;
    border:solid 10px #00000011;
    border-radius:20px;
    z-index:2;
    
}
#fordesk p{
    grid-column:1 / span 2;
    color:#fff;
    font-family:"Salsa", cursive;
    font-size:25px;
    text-align: center;
    padding:0;
    margin:0;
}
#fordesk img{
    max-width:300px;
    padding:0;
    margin:0;
    border-radius: 20px;
    transition-duration:0.5s;
}
#fordesk img:hover{
    transform: scale(120%);  
}
#formobile{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
    grid-template-columns:repeat(5, 50px);
    grid-template-rows:1fr 5fr;
    align-items:center;
    background-color:#000000d7;
    width:fit-content;
    border:solid 10px #00000011;
    border-radius:20px;
    
}
#formobile p{
    grid-column:1 / span 5;
    color:#fff;
    font-family:"Salsa", cursive;
    font-size:15px;
    text-align: center;
    padding:0;
    margin:0;
}
#formobile img{
    width:50px;
    padding:0;
    margin:0;
    border-radius: 20px;
    transition-duration:0.5s;
}
#formobile img:hover{
    transform: scale(140%);  
}
#editIcon{
    position:fixed;
    top: 20px;
    right:20px;
    z-index:5;
    background-color:transparent;
    border:none;
}
#editIcon i{
    font-size:25px;
}
@media screen and (min-width:434px){
    h1{
        font-size:75px;
        padding:0;
    }
    #styleheader{
        width:97.2vw;
        height:90px;
    }
    #formobile{
        grid-template-columns:repeat(5, 90px);
        width:95vw;
        grid-column-gap:2px;
        grid-column:space-between;
    }
}
@media screen and (min-width:992px){
    body{
        background-image:url('large4.webp');
        background-attachment: fixed;
    }
     ul{
        align-items:flex-start;
        padding-left:1%;
    }
    li{
        max-width:45vw;
        opacity:75%;
        
    }
    .input{
        position:fixed;
        right:3%;
        max-height:25%;
        max-width:45%;
        bottom:5%;
        padding-top:10%;
        opacity:75%;
    }
    h1{
        left:23%;
        font-size:80px;
        bottom:15%;
        opacity:50%;
        background-color:transparent;
    }
    #stylefooter{
        display:none;
    }
    #styleheader{
        display:none;
    }
    #fordesk{
        display:none;
    }
    #formobile{
        display:none;
    }
}
